@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Montserrat';
    transition: 0.5s;
    header {
        nav {
            .overlay {
                display: none;
            }
            .span {
                display: none;
            }
            h1 {
                font-family: 'Montserrat';
                font-style: italic;
                font-weight: 400;
                font-size: 40px;
                span {
                    color: #10B981;
                }
            }
            .adiv {
                #border {
                    border: 2px solid rgba(0, 128, 0, 0.096);
                    border-radius: 5px;
                    padding: 3px;
                    transition: 0.5s;
                }
                #border:hover {
                    border: 2px solid rgba(0, 128, 0, 0.404);
                }
                input {
                    font-size: 22px;
                    outline: none;
                    font-family: 'Montserrat';
                }
                input::placeholder {
                    font-size: 18px;
                    opacity: 0.5;
                }
                button {
                    background: #10B981;
                    height: 38px;
                    width: 38px;
                    border-radius: 5px;
                    color: white;
                    transition: 0.5s;
                    border: 2px solid #10B981;
                }
                button:hover {
                    background: transparent;
                    color: black;
                }
                svg {
                    height: 18px;
                    width: 18px;
                }
                .adiv {
                    border: 1px solid #10B981;
                    border-radius: 50px;
                    padding: 0.7rem;
                    cursor: pointer;
                    background-color: transparent;
                    display: flex;
                    align-items: center;
                    transition: 0.6s;
                    h1 {
                        font-size: 16px;
                        font-weight: 500;
                        font-style: normal;
                        margin-bottom: 0;
                    }
                }
            }
            .login {
                background: #10B981 !important;
                color: white;
            }
            .login:hover {
                background: transparent !important;
                color: black;
            }
            .items {
                gap: 5px;
            }
            .items:hover {
                color: white;
                background: #10B981;
            }
            .items svg {
                color: #10B981;
            }
        }
        .nav-c {
            background: #10B981;
        }
        .nav {
            gap: 5rem;
            a {
                color: white;
                text-decoration: none;
                font-size: 20px;
                font-weight: 600;
                transition: 0.5s;
            }
            a:hover {
                color: rgb(0, 50, 0);
            }
        }
        .sec1 { 
            padding: 5rem;
            .left-side {
                h1 {
                    font-size: 64px;
                    font-weight: 600;
                }
                p {
                    font-size: 21px;
                    font-weight: 500;
                }
                padding-left: 5rem;
                div {
                    img {
                        position: absolute;
                        transition: 0.5s;
                        cursor: pointer;
                        border: 2px solid rgba(0, 128, 0, 0.096);
                        border-radius: 50%;
                    }
                    img:hover {
                        transform: translate(0, -30px);
                        border: 2px solid #90c990;
                    }
                    .one {
                        margin: 0;
                    }
                    .two {
                        margin-left: 30px;
                    }
                    .three {
                        margin-left: 60px;
                    }
                    .four {
                        margin-left: 90px;
                    }
                    h1 {
                        margin-left: 10rem;
                        font-weight: 500;
                        font-size: 26px;
                    }
                }
            }
            .right-side {
                div {
                    div {
                        div {
                            margin-top: 330%;
                            height: 115px;
                            width: 115px;
                            background-image: url(./assets/play-video.png);
                            background-position: center;
                            background-repeat: no-repeat;
                            border-radius: 50%;
                        }
                    }
                    h2 {
                        font-weight: 500;
                        font-size: 21px;
                    }
                }
                img {
                    width: 53px;
                    height: 53px;
                }
                .img2 {
                    margin-top: 90%;
                }
                svg {
                    position: absolute;
                }
                .right-sides {
                    background-color: #ECFEF4;
                    font-size: 31px !important;
                    font-weight: 600 !important;
                    width: 272px;
                    height: 477px;
                    border-radius: 136px;
                    background-image: url(./assets/naushnik.png);
                    background-position: center;
                    background-repeat: no-repeat;
                }
            }
        }
    }
    .sec2 {
        height: 591px;
        background-color: #845EC2;
        color: white;
        .left-side {
            h1 {
                position: relative;
                top: 45px;
                font-weight: 600;
                font-size: 60px;
                line-height: 73px;
                text-shadow:
                -1px 0px 0px rgb(255, 255, 255),
                1px 0px 0px rgb(255, 255, 255),
                0px -1px 0px rgb(255, 255, 255),
                0px 1px 0px rgb(255, 255, 255);
                color: #845EC2;
                
            }
            div {
                h2 {
                    font-weight: 400;
                    font-size: 31px;
                    line-height: 35px;
                    span {
                        font-weight: 600;
                        font-size: 31px;
                        line-height: 38px;
                    }
                }
            }
        }
        .right-side {
            h1 {
                font-weight: 600;
                font-size: 44px;
                line-height: 54px;
            }
            p {
                font-weight: 500;
                font-size: 21px;
                line-height: 35px;
            }
            a {
                color: white;
                font-weight: 600;
                font-size: 21px;
                line-height: 35px;
                text-decoration: none;
                transition: 0.5s;
            }
            a:hover {
                color: #10B981;
            }
        }
    }
    .sec3 {
        .cards {
            gap: 5rem;
            .card-h {
                .card {
                    border-radius: 15px;
                    border: none;
                    img {
                        width: 241px;
                        height: 241px;
                    }
                    .card-c {
                        background-color: white;
                        border-radius: 15px;
                        padding: 2rem 4rem;
                        h1 {
                            font-weight: 500;
                            font-size: 21px;
                            line-height: 35px;
                        }
                        svg {
                            color: #C00C00;
                            cursor: pointer;
                            margin: 0 2px;
                        }
                        p {
                            font-weight: 500;
                            font-size: 11px;
                            line-height: 35px;
                            color: #888888;
                            margin-bottom: 0 !important;
                        }
                        h2 {
                            font-weight: 600;
                            font-size: 21px;
                            line-height: 26px;
                        }
                    }
                }
                button {
                    width: 360px;
                    height: 65px;
                }
            }
        }
    }
    .sec4 {
        .cards {
            gap: 5rem;
            .card-h {
                .card {
                    border-radius: 15px;
                    border: none;
                    img {
                        width: 241px;
                        height: 241px;
                    }
                    .card-c {
                        background-color: white;
                        border-radius: 15px;
                        padding: 2rem 4rem;
                        h1 {
                            font-weight: 500;
                            font-size: 21px;
                            line-height: 35px;
                        }
                        svg {
                            color: #C00C00;
                            cursor: pointer;
                            margin: 0 2px;
                        }
                        p {
                            font-weight: 500;
                            font-size: 11px;
                            line-height: 35px;
                            color: #888888;
                            margin-bottom: 0 !important;
                        }
                        h2 {
                            font-weight: 600;
                            font-size: 21px;
                            line-height: 26px;
                        }
                    }
                }
                button {
                    width: 360px;
                    height: 65px;
                }
            }
        }
    }
    .sec5 {
        background-color: #845EC2;
        height: 591px;
        .colors {
            div {
                height: 43px;
                width: 43px;
                cursor: pointer;
            }
        }
        .right {
            color: white;
            h1 {
                font-weight: 600;
                font-size: 60px;
                line-height: 73px;
            }
            p {
                font-weight: 500;
                font-size: 21px;
                line-height: 35px;
            }
            h2 {
                font-weight: 400;
                font-size: 31px;
                line-height: 35px;
                span {
                    font-weight: 600;
                    font-size: 31px;
                    line-height: 38px;
                }
            }
            div {
                a {
                    color: white;
                    text-decoration: none;
                    transition: 0.5s;
                    font-weight: 600;
                    font-size: 21px;
                    line-height: 26px;
                }
                a:hover {
                    color: #10B981;
                }
            }
        }
    }
    #activea, #activeb, #activec {
        transition: 0.1s;
    }
    .get-start {
        
        h1 {
            font-weight: 400;
            font-size: 22px;
            line-height: 29px;
            letter-spacing: -0.3px;
        }
    }
    footer {
        .div {
            width: 80%;
            .left {
                width: 100%;
                .left {
                    gap: 30px;
                    font-weight: 400;
                    font-size: 22px;
                    .input {
                        input {
                            padding: 5px;
                            font-size: 22px;
                            border: none;
                            outline: none;
                        }
                        border-bottom: 2px solid rgba(0, 0, 0, 0.150);
                        button {
                            font-size: 30px;
                            color: white;
                            width: 50px;
                            height: 50px;
                            background-color: #10B981;
                            border: 2px solid #10B981;
                            border-radius: 8px 8px 0px 0px;
                            transition: 0.5s;
                        }
                        button:hover {
                            color: #10B981;
                            background-color: transparent;
                        }
                    }
                }
            }
            .right {
                width: 50%;
            }
        }
        p {
            font-family: 'DM Sans';
            font-style: normal;
            font-weight: 400;
            font-size: 17px;
            line-height: 22px;
            letter-spacing: -0.231818px;
            color: #10B981;
        }
        a {
            font-family: 'DM Sans';
            font-style: normal;
            font-weight: 600;
            font-size: 15px;
            line-height: 20px;
            color: black;
            text-decoration: none;
            transition: 0.3s;
        }
        a:hover {
            color: #10B981;
        }
        .links {
            padding-top: 5rem;
            padding-bottom: 2rem;
            width: 80%;
            svg {
                cursor: pointer;
                width: 25px;
                height: 25px;
                transition: 0.5s;
            }
            svg:hover {
                color: #10B981;
            }
        }
    }
}
.btn1 {
    background-color: #10B981;
    color: white;
    width: 250px;
    height: 60px;
    font-weight: 600;
    font-size: 21px;
    border: 2px solid #10B981;
    border-radius: 10px;
    transition: 0.5s;
}
.btn1:hover {
    background-color: transparent;
    color: #10B981;
}
.btn2 {
    border-radius: 50% !important;
    padding: 1.5rem 3rem;
    font-weight: 600;
    font-size: 26px;
    line-height: 32px;
}
@media screen and (max-width: 800px) {
    body {
        .flex-column1 {
            flex-direction: column;
        }
        .yulduz {
            display: none;
        }
        header {
            nav {
                .adiv {
                    display: none !important;
                }
            }
            .sec1 {
                background-color: #ECFEF4;
                background-image: url(./assets/naushnik.png);
                background-position: top 10px right;
                background-repeat: no-repeat;
                flex-direction: column-reverse;
                padding: 1rem 0;
                .left-side {
                    padding-left: 10px;
                }
                .right-side {
                    position: absolute;
                    top: -1000rem;
                }
            }
            .nav {
                gap: 1rem;
            }
        }
        .sec2 {
            flex-direction: column;
            height: auto;
            padding-bottom: 2rem;
            .left-side {
                h1 {
                    font-size: 8.5vw;
                }
                div {
                    h2 {
                        font-size: 25px;
                        span {
                            font-size: 25px;
                        }
                    }
                }
            }
            .right-side {
                display: flex;
                flex-direction: column;
                align-items: center;
                h1 {
                    font-size: 20px;
                }
                p {
                    text-align: center;
                }
            }
        }
        .sec3 {
            display: flex;
            flex-direction: column;
            align-items: center;
            .cards {
                flex-direction: column !important;
            }
        }
        .sec4 {
            .cards {
                flex-direction: column;
            }
        }
        .sec5 {
            height: auto;
            padding: 1rem;
            .right {
                h1 {
                    font-size: 10vw;
                }
            }
        }
        footer {
            flex-direction: column;
            align-items: center;
            .div {
                flex-direction: column;
                .left {
                    flex-direction: column;
                }
            }
            .links {
                flex-direction: column;
            }
        }
    }
.span {
    display: block !important;
}
.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.9);
    overflow-x: hidden;
    transition: 0.5s;
    display: block !important;
  }
  
  .overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
    display: block !important;
  }
  
  .overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  .overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
  }
  
  .overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
  }
  
  @media screen and (max-height: 450px) {
    .overlay a {font-size: 20px}
    .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
    }
  }
}